/* CSS Document */
*{
	margin: 0;
	padding: 0;
}
/*reset css*/
#container{
	width: 800px;
	height: 600px;
	background: blue;
	margin: 0 auto;
}
.header{
	width: 800px;
	height: 130px;
	background: #FFAA69;
}
.header-main{
	width: 800px;
	height: 90px;
	background: #27D31F
}
.header-main img{
	height: 80px;
	margin-top: 5px;
	margin-left: 5px;
}
.menu{
	width: 800px;
	height: 40px;
	background: black;
}
.menu ul{
	

	list-style: none;
	
}
.menu ul li{
	float: left;
	margin-left: 20px;
	width: 80px;
	height: 25px;
/*	background: blue;*/
	text-align: center;
	line-height: 25px;
	margin-top: 8px;
}
.menu ul li a{
	color: white;
	text-decoration: none;
	font-size: 15px;
	text-transform: uppercase;
	transition-duration: 0.2s;
}
.menu ul li a:hover{
	color: pink;
}

.content{
	width: 800px;
	height: 400px;
	background: #AA7C7C;
}
.left{
	width: 530px;
	height: 350px;
	background: #00D0E1;
	float: left;
	padding: 30px 10px 20px;
}
.left h1{
	text-align: center;
	color: yellow;
	margin-bottom: 20px;
}
.left h2{
	font-style: italic;
	margin-bottom: 10px;
}
.left p{
	text-align: justify;
}
.right{
	width: 250px;
	height: 400px;
	background: #140BE5;
	float: left
}
.footer{
	width: 800px;
	height: 70px;
	background: black;
}